@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 180 8% 95%;
		--foreground: 210 8% 5%;

		--card: 180 8% 95%;
		--card-foreground: 210 8% 5%;

		--popover: 180 8% 95%;
		--popover-foreground: 210 8% 5%;

		--primary: 194 66% 73%;
		--primary-foreground: 240 9% 2%;

		--secondary: 192 11% 91%;
		--secondary-foreground: 210 8% 5%;

		--muted: 195 9% 91%;
		--muted-foreground: 194 9% 45%;

		--accent: 192 11% 91%;
		--accent-foreground: 210 8% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 200 9% 87%;
		--input: 200 9% 81%;
		--ring: 194 36% 72%;

		--radius: 0.5rem;
	}

	.dark,
	:root[class~='dark'] {
		--background: 200 7% 8%;
		--foreground: 180 9% 98%;

		--card: 200 6% 10%;
		--card-foreground: 180 9% 98%;

		--popover: 200 6% 10%;
		--popover-foreground: 180 9% 98%;

		--primary: 194 68% 47%;
		--primary-foreground: 240 9% 2%;

		--secondary: 195 8% 19%;
		--secondary-foreground: 180 9% 98%;

		--muted: 196 7% 29%;
		--muted-foreground: 195 8% 49%;

		--accent: 195 71% 19%;
		--accent-foreground: 180 9% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 192 8% 12%;
		--input: 195 9% 18%;
		--ring: 194 68% 40%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
